{% extends "mybase.html" %} <!--this means that you are extending the base tempate -->
{% block emailid %} <!-- this is the name of the block below -->
<!-- <p style="font-weight:300; font-size:25px;" class="col-md-9"> -->
<p style="font-weight:300; font-size:25px;">
  Enter date in the form YYYYMM for month and YYYY for yearly time period
</p>

	<!-- <div class="row" style="height:40vh;">
               <div class="col-md-3" style="margin-top:1vh;">
	       <br/><br/> -->
<body class="text-center">
<div class="col-md-4">
   <select id = "country" class = "form-control" name = "country">
  		 <option diasbled selected>Select Country:</option>
  		 <option>Aruba</option>
  		 <option>Antigua and Barbuda</option>
  		 <option>United Arab Emirates</option>
  		 <option>Afghanistan</option>
  		 <option>Algeria</option>
  		 <option>Azerbaijan</option>
  		 <option>Albania</option>
  		 <option>Armenia</option>
  		 <option>Andorra</option>
  		 <option>Angola</option>
  		 <option>American Samoa</option>
  		 <option>Argentina</option>
  		 <option>Australia</option>
  		 <option>Ashmore and Cartier Islands</option>
  		 <option>Austria</option>
  		 <option>Anguilla</option>
  		 <option>Akrotiri</option>
  		 <option>Antarctica</option>
  		 <option>Bahrain</option>
  		 <option>Barbados</option>
  		 <option>Botswana</option>
  		 <option>Bermuda</option>
  		 <option>Belgium</option>
  		 <option>The Bahamas</option>
  		 <option>Bangladesh</option>
  		 <option>Belize</option>
  		 <option>Bosnia and Herzegovina</option>
  		 <option>Bolivia</option>
  		 <option>Burma</option>
  		 <option>Benin</option>
  		 <option>Belarus</option>
  		 <option>Solomon Islands</option>
  		 <option>Navassa Island</option>
  		 <option>Brazil</option>
  		 <option>French Southern and Antarctic Lands Bassas da India</option>
  		 <option>Bhutan</option>
  		 <option>Bulgaria</option>
  		 <option>Bouvet Island</option>
  		 <option>Brunei</option>
  		 <option>Burundi</option>
  		 <option>Canada</option>
  		 <option>Cambodia</option>
  		 <option>Chad</option>
  		 <option>Sri Lanka</option>
  		 <option>Congo (Brazzaville)</option>
  		 <option>Congo (Kinshasa)</option>
  		 <option>China</option>
  		 <option>Chile</option>
  		 <option>Cayman Islands</option>
  		 <option>Cocos (Keeling) Islands</option>
  		 <option>Cameroon</option>
  		 <option>Comoros</option>
  		 <option>Colombia</option>
  		 <option>Northern Mariana Islands</option>
  		 <option>Coral Sea Islands</option>
  		 <option>Costa Rica</option>
  		 <option>Central African Republic</option>
  		 <option>Cuba</option>
  		 <option>Cape Verde</option>
  		 <option>Cook Islands</option>
  		 <option>Cyprus</option>
  		 <option>Croatia</option>
  		 <option>Denmark</option>
  		 <option>Djibouti</option>
  		 <option>Dominica</option>
  		 <option>Jarvis Island</option>
  		 <option>Dominican Republic</option>
  		 <option>Dhekelia</option>
  		 <option>Ecuador</option>
  		 <option>Egypt</option>
  		 <option>Ireland</option>
  		 <option>Equatorial Guinea</option>
  		 <option>Estonia</option>
  		 <option>Eritrea</option>
  		 <option>El Salvador</option>
  		 <option>Ethiopia</option>
  		 <option>French Southern and Antarctic Lands Europa Island</option>
  		 <option>Czech Republic</option>
  		 <option>French Guiana</option>
  		 <option>Finland</option>
  		 <option>Fiji</option>
  		 <option>Falkland Islands</option>
  		 <option>Federated States of Micronesia</option>
  		 <option>Faroe Islands</option>
  		 <option>French Polynesia</option>
  		 <option>Baker Island</option>
  		 <option>France</option>
  		 <option>French Southern and Antarctic Lands</option>
  		 <option>The Gambia</option>
  		 <option>Gabon</option>
  		 <option>Georgia</option>
  		 <option>Ghana</option>
  		 <option>Gibraltar</option>
  		 <option>Grenada</option>
  		 <option>Guernsey</option>
  		 <option>Greenland</option>
  		 <option>Germany</option>
  		 <option>French Southern and Antarctic Lands Glorioso Islands</option>
  		 <option>Guadeloupe</option>
  		 <option>Guam</option>
  		 <option>Greece</option>
  		 <option>Guatemala</option>
  		 <option>Guinea</option>
  		 <option>Guyana</option>
  		 <option>Gaza Strip</option>
  		 <option>Haiti</option>
  		 <option>Hong Kong</option>
  		 <option>Heard Island and McDonald Islands</option>
  		 <option>Honduras</option>
  		 <option>Howland Island</option>
  		 <option>Hungary</option>
  		 <option>Iceland</option>
  		 <option>Indonesia</option>
  		 <option>Isle of Man</option>
  		 <option>India</option>
  		 <option>British Indian Ocean Territory</option>
  		 <option>Clipperton Island</option>
  		 <option>Iran</option>
  		 <option>Israel</option>
  		 <option>Italy</option>
  		 <option>Cote d'Ivoire</option>
  		 <option>Iraq</option>
  		 <option>Japan</option>
  		 <option>Jersey</option>
  		 <option>Jamaica</option>
  		 <option>Jan Mayen</option>
  		 <option>Jordan</option>
  		 <option>Johnston Atoll</option>
  		 <option>French Southern and Antarctic Lands Juan de Nova Island</option>
  		 <option>Kenya</option>
  		 <option>Kyrgyzstan</option>
  		 <option>Korea, North</option>
  		 <option>Kingman Reef</option>
  		 <option>Kiribati</option>
  		 <option>South Korea</option>
  		 <option>Christmas Island</option>
  		 <option>Kuwait</option>
  		 <option>Kosovo</option>
  		 <option>Kazakhstan</option>
  		 <option>Laos</option>
  		 <option>Lebanon</option>
  		 <option>Latvia</option>
  		 <option>Lithuania</option>
  		 <option>Liberia</option>
  		 <option>Slovakia</option>
  		 <option>Palmyra Atoll</option>
  		 <option>Liechtenstein</option>
  		 <option>Lesotho</option>
  		 <option>Luxembourg</option>
  		 <option>Libya</option>
  		 <option>Madagascar</option>
  		 <option>Martinique</option>
  		 <option>Macau</option>
  		 <option>Moldova</option>
  		 <option>Mayotte</option>
  		 <option>Mongolia</option>
  		 <option>Montserrat</option>
  		 <option>Malawi</option>
  		 <option>Montenegro</option>
  		 <option>Macedonia</option>
  		 <option>Mali</option>
  		 <option>Monaco</option>
  		 <option>Morocco</option>
  		 <option>Mauritius</option>
  		 <option>Midway Islands</option>
  		 <option>Mauritania</option>
  		 <option>Malta</option>
  		 <option>Oman</option>
  		 <option>Maldives</option>
  		 <option>Mexico</option>
  		 <option>Malaysia</option>
  		 <option>Mozambique</option>
  		 <option>New Caledonia</option>
  		 <option>Niue</option>
  		 <option>Norfolk Island</option>
  		 <option>Niger</option>
  		 <option>Vanuatu</option>
  		 <option>Nigeria</option>
  		 <option>Netherlands</option>
  		 <option>Sint Maarten</option>
  		 <option>Norway</option>
  		 <option>Nepal</option>
  		 <option>Nauru</option>
  		 <option>Suriname</option>
  		 <option>Nicaragua</option>
  		 <option>New Zealand</option>
  		 <option>South Sudan</option>
  		 <option>Paraguay</option>
  		 <option>Pitcairn Islands</option>
  		 <option>Peru</option>
  		 <option>Paracel Islands</option>
  		 <option>Spratly Islands</option>
  		 <option>Etorofu, Habomai, Kunashiri, and Shikotan Islands</option>
  		 <option>Pakistan</option>
  		 <option>Poland</option>
  		 <option>Panama</option>
  		 <option>Portugal</option>
  		 <option>Papua New Guinea</option>
  		 <option>Palau</option>
  		 <option>Guinea-Bissau</option>
  		 <option>Qatar</option>
  		 <option>Reunion</option>
  		 <option>Serbia</option>
  		 <option>Marshall Islands</option>
  		 <option>Saint Martin</option>
  		 <option>Romania</option>
  		 <option>Philippines</option>
  		 <option>Puerto Rico</option>
  		 <option>Russia</option>
  		 <option>Rwanda</option>
  		 <option>Saudi Arabia</option>
  		 <option>Saint Pierre and Miquelon</option>
  		 <option>Saint Kitts and Nevis</option>
  		 <option>Seychelles</option>
  		 <option>South Africa</option>
  		 <option>Senegal</option>
  		 <option>Saint Helena, Ascension, and Tristan da Cunha</option>
  		 <option>Slovenia</option>
  		 <option>Sierra Leone</option>
  		 <option>San Marino</option>
  		 <option>Singapore</option>
  		 <option>Somalia</option>
  		 <option>Spain</option>
  		 <option>Saint Lucia</option>
  		 <option>Sudan</option>
  		 <option>Svalbard</option>
  		 <option>Sweden</option>
  		 <option>South Georgia and South Sandwich Islands</option>
  		 <option>Syria</option>
  		 <option>Switzerland</option>
  		 <option>Saint Barthelemy</option>
  		 <option>Trinidad and Tobago</option>
  		 <option>French Southern and Antarctic Lands Tromelin Island</option>
  		 <option>Thailand</option>
  		 <option>Tajikistan</option>
  		 <option>Turks and Caicos Islands</option>
  		 <option>Tokelau</option>
  		 <option>Tonga</option>
  		 <option>Togo</option>
  		 <option>Sao Tome and Principe</option>
  		 <option>Tunisia</option>
  		 <option>Timor-Leste</option>
  		 <option>Turkey</option>
  		 <option>Tuvalu</option>
  		 <option>Taiwan</option>
  		 <option>Turkmenistan</option>
  		 <option>Tanzania</option>
  		 <option>Ukraine</option>
  		 <option>Curacao</option>
  		 <option>Uganda</option>
  		 <option>United Kingdom</option>
  		 <option>United States</option>
  		 <option>Burkina Faso</option>
  		 <option>Uruguay</option>
  		 <option>Uzbekistan</option>
  		 <option>Saint Vincent and the Grenadines</option>
  		 <option>Venezuela</option>
  		 <option>British Virgin Islands</option>
  		 <option>Vietnam</option>
  		 <option>United States Virgin Islands</option>
  		 <option>Vatican City</option>
  		 <option>Namibia</option>
  		 <option>West Bank</option>
  		 <option>Wallis and Futuna</option>
  		 <option>Wake Island</option>
  		 <option>Samoa</option>
  		 <option>Swaziland</option>
  		 <option>Yemen</option>
  		 <option>Croatia</option>
  		 <option>Zambia</option>
  		 <option>Zimbabwe</option>
  		 <option>Western Sahara</option>
  		 <option>Oceans</option>
   </select>
 </div>
 <div class="col-md-4">
   <select id="period" class="form-control" name="period">
		  <option>Select Time Period:</option>
		  <!-- <option>Daily</option> -->
		  <option>Monthly</option>
		  <option>Yearly</option>
   </select>
 </div>
 <div class="col-md-4">
     <input type="text" placeholder="YYYY or YYYYMM" class="form-control" id="date"  name="date">
     <br/><br/>
 </div>
<div class="col-md-4 col-md-offset-4">
	<button id="target" name="emailid-container" class="btn btn-lg btn-primary btn-block id-submit">Submit</button>
</div>
</body>

 <script src="../static/js/get_data.js">

{% endblock %}
